/atril
/autostart
/cantata
/Code
/dconf
/Docker Desktop
/draw.io
/Electron
/enchant
/filezilla
/galculator
/GIMP
/GitKraken
/google-chrome
/gpick
/gthumb
/htop
/JetBrains
/jgit
/Kvantum
/libreoffice
/light
/mimeapps.list
/mpv
/nemo
/nitrogen
/pavucontrol.ini
/Postman
/pulse
/QtProject
/QtProject.conf
/README.md
/simple-scan
/TabNine
/user-dirs.dirs
/user-dirs.locale
/viewnior
/xfce4
/yay
/YouTube Music