* {
	border: none;
	border-radius: 10px;
	font-family: "JetbrainsMono Nerd Font" ;
	font-size: 13px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
        color: transparent;
	background: transparent;
}
#workspaces {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: #11111b;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #b4befe;
	background: transparent;
	font-size: 16px;
	border-radius: 10px;
}

#workspaces button.occupied {
	transition: none;
	color: #b4befe;
	background: transparent;
	font-size: 4px;
}

#workspaces button.active {
	color: #1e1e2e;
	background: #89b4fa;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #1e1e2e;
	background: #cba6f7;
}

#workspaces button.focused:hover {
	color: #1e1e2e;
	background: #eba0ac;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #1e1e2e;
	background: #cba6f7;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #1A1826;
	background: #f9e2af;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #1e1e2e;
	background: #94e2d5;
}

#battery.charging, #battery.plugged {
	color: #1e1e2e;
    background-color: #89dceb;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #1e1e2e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #1e1e2e;
	background: #fab387;
}
#keyboard-state {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #1e1e2e;
	background: #F8BD96;
}
#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #1e1e2e;
	background: #a6e3a1;
	/*background: #1A1826;*/
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #1e1e2e;
	background: #eba0ac;
}

#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #1e1e2e;
	background: #74c7ec;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #B5E8E0;
	background: #11111b;
	font-family: "Noto Sans";
	font-size: 10px;
}

#custom-launcher {
	font-size: 15px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
    color: #1e1e2e;
    background: #b4befe;
}

#custom-power {
	font-size: 15px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #1e1e2e;
	background: #f38ba8;
}

#custom-wallpaper {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #1e1e2e;
	background: #C9CBFF;
}

#mpd {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 15px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #1e1e2e;
	background: #f2cdcd;
}
