/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "JetBrainsMono", FontAwesome6Free, SymbolsNerdFont;
    border: none;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(35, 38, 52, 0);
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

 #workspaces {
    color: #c6d0f5;
    padding: 1px;
    border-radius: 15px;
    background-color: #232634;
}

#workspaces button {
    padding: 0px 8px;
    margin: 3px 4px;
    border-radius: 15px;
    border: 0px;
    color: #c6d0f5;
    background-color: #414559;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: #303446;
    background-color: #ca9ee6;
    border-radius: 15px;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
    color: #303446;
    background-color: #8caaee;
}

#workspaces button:hover {
    color: #303446;
    background: #babbf1;
    border-radius: 15px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    background-color: #292c3c;
    padding:20px;
    margin:10px;
    border: 2px solid #51576d;
}

tooltip label {
    color: #c6d0f5;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    background: #303446;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    border-radius: 15px;
    color:#c6d0f5;
    border:2px solid #51576d;  
}

window#waybar.empty #window {
    background: #303446;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background-color: #303446;
    color: #c6d0f5;
    padding: 2px 5px 2px 5px;
    margin: 0px 10px 0px 0px;
    border-radius: 15px;
    border: 2px solid #ca9ee6;
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#keyboard-state, 
#custom-browser, 
#custom-filemanager, 
#custom-windowsvm, 
#custom-cliphist, 
#custom-system,
#custom-waybarthemes {
    margin-right: 15px;
}

#idle_inhibitor,
#custom-exit,
#custom-browser, 
#custom-filemanager, 
#custom-windowsvm, 
#custom-cliphist, 
#custom-system,
#custom-browser{
    padding:0px;
    font-size:18px;
    color: #c6d0f5;
    font-weight: bold;
}

#keyboard-state{
    padding:0px;
    color: #c6d0f5;
    font-weight: bold;
}

#keyboard-state label{
    font-size:18px;
}
 
#custom-system {
    margin-right:15px;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
    margin-right: 15px;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    color: #e78284;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu{
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    background-color: #303446;
    color: #c6d0f5;
    border:2px solid #ca9ee6;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin-right:10px;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    background: linear-gradient(to right, #ca9ee6, #81c8be);
    color: #303446;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 0px;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

 #disk,#memory,#cpu {
    margin-right:10px;
    padding:0px;
    color:#c6d0f5;
}

/* -----------------------------------------------------
 * language
 * ----------------------------------------------------- */

 #language{
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 0px;
    background: linear-gradient(to right, #8caaee, #ca9ee6);
    color: #303446;
}

/* -----------------------------------------------------
 * backlight
 * ----------------------------------------------------- */

 #backlight{
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 0px;
    background: linear-gradient(to right, #99d1db, #e5c890);
    color: #303446;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    background-color: #303446;
    color: #c6d0f5;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 0px;
    border:2px solid #ca9ee6;   
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    background: linear-gradient(to right, #ca9ee6, #e5c890);
    color: #303446;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 0px;
}

#pulseaudio.muted {
    background: linear-gradient(to right, #8caaee, #e78284);
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: #303446;
    color: #c6d0f5;
    border-radius: 15px;
    margin: 0px 10px 0px 0px;
    padding: 0px 10px 0px 10px;
    border:2px solid #ca9ee6;   
}

#network.ethernet {
    background-color: #303446;
    color: #c6d0f5;
}

#network.wifi {
    background-color: #303446;
    color: #c6d0f5;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    background: linear-gradient(to right, #8caaee, #a6d189);
    color: #303446;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 0px;
}

#bluetooth.off {
    background: linear-gradient(to right, #8caaee, #e78284);
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background: linear-gradient(to right, #f4b8e4, #85c1dc);
    color: #303446;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 0px;
}

#battery.charging, #battery.plugged {
    background: linear-gradient(to right, #8caaee, #a6d189);
}

@keyframes blink {
    to {
        background-color: #e78284;
        color: #e78284;
    }
}

#battery.critical:not(.charging) {
    background: linear-gradient(to right, #f4b8e4, #babbf1);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    margin: 0px 10px 0px 0px;
    color: #c6d0f5;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
